Source: chmod-files-only
Section: utils
Priority: optional
Maintainer: Alexander Tarkhov <agtuks@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/tarkhov/chmod-files-only
#Vcs-Git: git://anonscm.debian.org/collab-maint/chmod-files-only.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/chmod-files-only.git

Package: chmod-files-only
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Recursive chmod only for files or directories 
 Linux chmod can set mode bits recursivly only for all content in path.
 But with chmod-files-only, you can set mode bits for files or directories only.
